
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}
 html {
 	font-size:4.4vmin;
 }
  .container {
            border: 1px solid gray;
            margin: 10px;
            background: #4a4a4a;
            border-radius: 15px;
       
  }
  header { 
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
  header h1 {
          font-size:5vmin ;
          margin-left: 15px;
          color: #fff;
  }
  header h2 {
          font-size: 4vmin;
          margin-right: 15px;
          font-weight: bold;
          color:#000;
          font-family: "courier new";
  }
    
   
  .display {
           border: 1px solid #ebebeb;
           height: 8vh;
           margin: 5px 15px 0px;
           background: #ebebeb;
           border-radius: 5px;
           overflow:scroll;
           
  }
  .exp {
  	width:100%;
  	height: 50%;
  	border-radius:5px;
  	overflow:scroll;
  	display:flex;
  	justify-content: flex-end;
  	align-items:center;
  	font-size: 1.3rem;
  	font-weight:400;
  	font-family: monospace;
  }
  .result {
  	width:100%;
  	height: 50%;
  	border-radius:5px;
  	font-size:1.2rem;
  	font-weight:300;
  	display:flex;
  	justify-content: flex-end;
  	align-items:center;
  	overflow-x:scroll;
  	font-family: monospace;
  }
  .digits-operators {
            display: grid;
            grid-template-columns: repeat(7, 11vw);
            grid-template-rows: repeat(6,10.2vh);
            grid-gap: 0.3125rem;
            justify-content: center;
            align-content: center;
            margin: 20px 10px;
  }
.operators {
           color: blue;
           font-size: 1rem;
           background-color: skyblue;
  }
  .cancel {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
        background-color: #cd0000;
        color: #000;
        font-size: 2rem;
        
  }
  .sine {
        grid-row: 1 / 2;
        grid-column: 2 / 3;
        
  }
  .cosine {
        grid-row: 1 / 2;
        grid-column: 3 / 4;
        
  }
  .tangent {
        grid-row: 1 / 2;
        grid-column: 4 / 5;
        
  }
  .modulus {
        grid-row: 1 / 2;
        grid-column: 5 / 6;
        
        
  }
  .percentage {
        grid-row: 1 / 2;
        grid-column: 6 / 7;
        background: skyblue;
        
  }
  .delete {
        grid-row: 1 / 2;
        grid-column: 7 / 8;
        color: #000;
        background-color: #cd0000;
        font-size: 1.5rem;
        
  }
  .digits {
          color: #000;
          font-size: 2rem;
  }
  .one {
        grid-row: 2 / 3;
        grid-column: 1  / 3 ;
      
  }
  .two {
        grid-row: 2 / 3;
        grid-column: 3 / 5;
      
  }
  .three {
        grid-row: 2 / 3;
        grid-column:5 / 7 ;
        
  }
  .four {
        grid-row: 3 / 4;
        grid-column: 1 / 3;
        
  }
  .five {
        grid-row: 3 / 4;
        grid-column: 3 / 5;
        
  }
  .six {
        grid-row: 3  / 4;
        grid-column: 5 / 7;
        
  }
  .seven {
        grid-row:  4 / 5 ;
        grid-column: 1 / 3 ;
        
  }
  .eight {
        grid-row: 4 / 5;
        grid-column: 3 / 5;
        
  }
  .nine {
        grid-row: 4 / 5;
        grid-column: 5 / 7;
        
  }
  .zero {
        grid-row: 5 / 6;
        grid-column: 3 / 5;
        
  }
  

  
  .multiplication {
               grid-row: 2 / 3;
               grid-column: 7 / 8;
  }
  .division {
        grid-row: 3 / 4;
        grid-column: 7 / 8;
        
  }
  .substraction {
        grid-row:  4  / 5 ;
        grid-column: 7  / 8;
        
  }
  .addition {
        grid-row: 5 / 6;
        grid-column: 6 / 8;
        
  }
  .open-bracket {
        grid-row: 5 / 6;
        grid-column: 1 / 2;
        
  }
  .close-bracket {
        grid-row: 5 / 6;
        grid-column: 2 / 3;
        
  }
  .power {
        grid-row: 5 / 6;
        grid-column: 5 / 6;
        
  }

  .equal {
          grid-row: 6 / 7;
          grid-column: 1 / 7;
          font-size: 25px;
  }
  .point {
          grid-row: 6 / 7;
          grid-column: 7 / 8
  } 
  button {
      border-radius: 5px;
  }

  
@media screen and (max-height:260px){
	.operators {
		font-size: 2px;
	}
	.digits {
		font-size:2px;
	}
	header h1 {
		font-size:5vmin;
		
	}
	header h2 {
		font-size: 5vmin;
	}
	.digits-operators {
		margin: 10px 5px;
	}
	.display {
		margin: 0 5px;
		height:12vh;
	}
	.exp, .result {
		font-size:10px;
	}
}

.highlight-for-digits{
	background: gray;
	color: #fff;
}
.highlight-for-operators {
	background: orange;
	color: #fff;
}